@font-face {
	font-family: "UVNGiayTrang";
	src: url("UVNGiayTrang.TTF")  format("truetype");
}

/* General Begin */
body {
	font-family: "UVNGiayTrang", sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url('../imgs/background.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
/* General End */

/* Loading Begin */
#loading {
	background: #193c54 url("../imgs/loading-bg.jpg") no-repeat center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;	
}

#loading .spinner {
	position: relative;
	width: 94px;
	height: 112px;
	top: 50%;
	margin: -56px auto;
	background: url('../imgs/loading.png') no-repeat center;
	-webkit-animation: mask 1s infinite alternate;
	-moz-animation: mask 1s infinite alternate;
	-ms-animation: mask 1s infinite alternate;
	-o-animation: mask 1s infinite alternate;
	animation: mask 1s infinite alternate;
}

@-webkit-keyframes mask {
    0% {
    	-webkit-transform: rotate(90deg);
    }
    100% {
    	-webkit-transform: rotate(-90deg);
    }
}

@-moz-keyframes mask {
    0% {
    	-moz-transform: rotate(90deg);
    }
    100% {
    	-moz-transform: rotate(-90deg);
    }
}

@-ms-keyframes mask {
    0% {
    	-ms-transform: rotate(90deg);
    }
    100% {
    	-ms-transform: rotate(-90deg);
    }
}

@-o-keyframes mask {
    0% {
    	-o-transform: rotate(90deg);
    }
    100% {
    	-o-transform: rotate(-90deg);
    }
}

@keyframes mask {
    0% {
    	transform: rotate(90deg);
    }
    100% {
    	transform: rotate(-90deg);
    }
}
/* Loading End */

/* Ice Begin */
.ice {
	background: url('../imgs/ice.png') repeat-x bottom left;
	position: absolute;
	width: 100%;
	height: 71px;
	top: 0;
	left: 0;
	z-index: 9000;
}
/* Ice End */

/* Snow Begin */
.snow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
}
/* Snow End */

/* Santa Claus Begin */
#santaClaus {
	position: relative;
	top: 0;
	left: -390px;
	z-index: 100;
	object-fit: cover;
}
/* Santa Claus End */

/* Reindeer Begin */
#reindeer {
	position: fixed;
	cursor: hand;
	cursor: pointer;
	z-index: 10000;
	right: -35px;
	bottom:30px;
	width: 110px;
	height:170px;
	object-fit: contain;
	transform: rotate(-45deg);
}
/* Reindeer End */

#letter {
	display: none;
	top:50%;
	transform: translateY(-30%);
	/* right: 30px;
	right: 30px;
	bottom:30px; */
	margin: 30px;
	position: absolute;
	background-position: center;
	background: url("../imgs/letter.jpg") no-repeat;
	position: relative;
	background-size: contain;
	/* width: 100%; */
	height: 600px;
	z-index: 9999;
}

.message {
	position: absolute;
	font-family: "UVNGiayTrang", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 1.35em;
	color: red;
	top: 70px;
	line-height: 24px;
	left: 56px;
	max-width: 250px;
	word-wrap: break-word;
}

.box-present-body{
	display: flex;
	justify-content: start;
	position: relative;
	align-items: center;
	z-index: -1;
}
.box-present-body-left{
	width: 150px;
	height: 80px;
	transform: rotate(40deg) skew(40deg);
	margin-left: 20px;
	background-color: #fd79a8;
	position: absolute;
	right: -18px;
	border: 1px solid #8b0948;
	z-index: 0;


}
.box-present-body-left-ribbon{
	position: absolute;
	background-color: #8b0948;
	transform: rotate(40deg) skew(40deg);
	height: 80px;
	width: 30px;
	left: 50%;
	transform: translateX(-50%);


}

.box-present-body-right{
	width: 150px;
	height: 80px;
	transform: skew(-40deg);
	background-color: #df6e95   ;
	transform: rotate(-40deg) skew(-40deg);
	position: absolute;
	left: -18px;
	border: 1px solid #8b0948;
	z-index: 0;

}
.box-present-body-right-ribbon{
	position: absolute;
	background-color: #8b0948;
	transform: rotate(-40deg) skew(-40deg);
	height: 80px;
	width: 30px;
	left: 50%;
	transform: translateX(-50%);
	

}
.box-present-body-center{
	width: 163px;
	height: 163px;
	background-color: #a53169   ;
	position: absolute;
	top: -180px;
	transform: rotate(45deg) ;
	left: -82px;
	z-index: -1;
}
.box-present{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.box-present-header{
	cursor: pointer;
	display: block;
	transform: rotate(0);
	z-index: 20;
}
.box-present-header.active{
	transform: rotate(10deg) translateX(500px)  translateY(-200px)      }
.box-present-header-left{
	position: absolute;
	width: 180px;
	height: 50px;
	z-index: 50;
	top: -100px;
	left: -158px;
	background-color: #fd79a8;
	transform: rotate(40deg) skew(40deg);
	border: 2px solid #8b0948;
}
.box-present-header-left::before{
	content: '';
	height: 47px;
	width: 30px;
	position: absolute;
	background-color: #8b0948;
	left: 50%;
	transform: translateX(-50%);

}
.box-present-header-right{
	position: absolute;
	width: 180px;
	height: 50px;
	z-index: 20;
	top: -100px;
	right: -158px;
	background-color: #df6e95;
	border: 2px solid #8b0948;
	transform: rotate(-40deg) skew(-40deg);
}
.box-present-header-right::before{
	content: '';
	height: 47px;
	width: 30px;
	position: absolute;
	background-color: #8b0948;
	left: 50%;
	transform: translateX(-50%);

}
.box-present-header-center{
	width: 195px;
	height: 195px;
	background-color: #fd79a8   ;
	position: absolute;
	top: -260px;
	left: -97px;
	transform: rotate(45deg) ;
	z-index: 10;
	border: 2px solid #8b0948;
}
.box-present-header-center img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-60%,-60%);
	z-index: 20;
}
.box-present-header-center::before{
	width: 30px;
	height: 100%;
	content: '';
	background-color: #8b0948;
	position: absolute;
	left: 50%;
	transform: translateX(-75%);
}
.box-present-header-center::after{
	width: 100%;
	height: 30px;
	content: '';
	background-color: #8b0948;
	position: absolute;
	top: 50%;
	transform: translateY(-75%);
}
@keyframes slideshow-X {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-300%);
	}
}
@keyframes slideshowX {
	0% {
		transform: translateY(-300%);
	}
	100% {
		transform: translateY(0);
	}
}
.letter{
	position: absolute;
	background-color: rgb(255, 255, 196);
	color: transparent;
	padding: 10px;
	width: 200px;
	left: -100px;
	top: -100px;
	height: 120px;
	transform: rotate(-360deg);
	border-radius: 10px;
	z-index: -1;
}
.letter.active {
	width: 800px;
	color: #8b0948;
	height: auto;
	z-index: 999;
	left: -400px;
	top: -300px;
	font-size: 50px;
}
#panda{
	
}